/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: "Jungka";
  src: url("/assets/fonts/Jungka-Light.woff2") format("woff2"), url("/assets/fonts/Jungka-Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: "Jungka";
  src: url("/assets/fonts/Jungka-Regular.woff2") format("woff2"), url("/assets/fonts/Jungka-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Jungka";
  src: url("/assets/fonts/Jungka-Medium.woff2") format("woff2"), url("/assets/fonts/Jungka-Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Jungka";
  src: url("/assets/fonts/Jungka-Bold.woff2") format("woff2"), url("/assets/fonts/Jungka-Bold.woff") format("woff");
  font-weight: 700; }

html {
  font-size: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Jungka", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.31;
  color: #89538a; }

h1 {
  font-weight: 500;
  font-size: 2.375rem;
  margin: 0; }

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0; }

@media (min-width: 700px) {
  h2 {
    font-size: 2.375rem; } }

h3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0 0 1.1rem; }

a {
  color: inherit; }

.inner {
  max-width: 1220px;
  padding: 0 1rem;
  margin: 0 auto; }

@media (min-width: 700px) {
  .inner {
    padding: 0 20px; } }

.r-logo {
  margin: 2rem 0 3.125rem; }

.top-sky {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 0;
  padding-bottom: 48.6%; }
  .top-sky__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 1400px; }
  .top-sky__stars {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 1400px; }
  .top-sky__globe {
    max-height: 27.7%;
    max-width: 180px;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(50%, -50%); }
  .top-sky__santa {
    max-height: 78.4%;
    max-width: 581px;
    width: 42%;
    position: absolute;
    top: 50%;
    right: 30%;
    transform-origin: 48.97% 50%;
    transform: translate(50%, -50%);
    animation-name: spinner;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.92, 0.48, 0.73, 0.85); }

@keyframes spinner {
  from {
    transform: translate(50%, -50%) rotate(0deg); }
  to {
    transform: translate(50%, -50%) rotate(360deg); } }

@media (min-width: 700px) {
  .top-sky__bg {
    top: -40px; } }

@media (min-width: 1200px) {
  .top-sky__bg {
    top: 0; } }

@media (min-width: 1440px) {
  .top-sky {
    padding-bottom: 700px; } }

.introduction {
  margin-top: calc(100% - 112px); }
  .introduction__content {
    padding: 0 1rem 3rem; }

@media (min-width: 700px) {
  .introduction {
    margin-top: 62%; }
    .introduction__content {
      margin: 0 10%; } }

@media (min-width: 960px) {
  .introduction {
    margin-top: 45%; }
    .introduction__content {
      margin: 0 0 0 50%;
      max-width: 500px; } }

@media (min-width: 1200px) {
  .introduction {
    margin-top: 0; }
    .introduction__content {
      margin: 0;
      padding: 0 0 30%;
      max-width: 460px; } }

@media (min-width: 1440px) {
  .introduction {
    margin-top: 0; }
    .introduction__content {
      padding: 0 0 30%;
      max-width: 400px; } }

.instructions {
  padding: 0 0 8rem;
  overflow: hidden;
  position: relative;
  z-index: 3; }
  .instructions h3 {
    max-width: 400px; }
  .instructions__roll {
    position: relative;
    width: 740px;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    background: #d9d0dd;
    padding: 2rem 1rem;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; }
    .instructions__roll__corner {
      position: absolute;
      width: 31px;
      height: 30px;
      background: #d9d0dd; }
      .instructions__roll__corner:after {
        content: '';
        display: block;
        position: absolute;
        width: 61px;
        height: 50px;
        background: #89538a; }
      .instructions__roll__corner--topleft {
        top: 0;
        right: 100%; }
        .instructions__roll__corner--topleft:after {
          top: 0;
          right: 0;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px; }
      .instructions__roll__corner--bottomright {
        bottom: 0;
        left: 100%; }
        .instructions__roll__corner--bottomright:after {
          bottom: 0;
          left: 0;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px; }

@media (max-width: 959px) {
  .instructions .inner {
    padding: 0; } }

@media (min-width: 960px) {
  .instructions {
    padding: 0 0 6.5rem; }
    .instructions__roll {
      max-width: calc(100% - 282px);
      padding: 3rem 4rem;
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px; }
    .instructions__corner {
      width: 61px;
      height: 60px; }
      .instructions__corner:after {
        width: 121px;
        height: 130px; }
      .instructions__corner--topleft:after {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px; }
      .instructions__corner--bottomright:after {
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px; } }

@media (min-width: 1080px) {
  .instructions {
    padding: 0 0 3rem; } }

.leaderboard {
  padding: 1rem 0 0;
  position: relative;
  margin-bottom: -5rem;
  z-index: 2; }
  .leaderboard__header {
    margin: 0 auto 3rem;
    position: relative;
    z-index: 2;
    text-align: center; }
  .leaderboard h2 {
    color: #fff; }
  .leaderboard__top-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -110px;
    width: 100%;
    min-height: 300px;
    max-height: 1070px; }
  .leaderboard__bottom-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -130px;
    max-height: 1070; }
  .leaderboard__outer {
    background: #feabaf;
    position: relative;
    z-index: 2; }
  .leaderboard__santa {
    position: absolute;
    bottom: 100%;
    margin-bottom: -24px; }
    .leaderboard__santa--left {
      left: 0;
      z-index: 4;
      width: 20%; }
      .leaderboard__santa--left--hand {
        width: 11.23%;
        bottom: 100%;
        left: 7.2%;
        z-index: 2;
        padding-bottom: 14.5%; }
    .leaderboard__santa--right {
      display: none;
      z-index: 3;
      right: 0; }
      .leaderboard__santa--right--hand {
        display: none;
        z-index: 2; }
  .leaderboard #leaderboard {
    position: relative;
    z-index: 3;
    min-height: 460px; }
  .leaderboard__wrap {
    background: #fff;
    border-radius: 20px;
    padding: 2rem 0px;
    min-height: 460px;
    margin: 1.75rem 1rem; }
  .leaderboard__list {
    margin: 0;
    padding: 0;
    font-weight: 500;
    list-style-type: none; }
  .leaderboard__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7em;
    line-height: normal; }
    .leaderboard__row__counter {
      width: 3.125rem;
      flex-shrink: 0;
      font-size: 0.875em;
      vertical-align: text-bottom; }
    .leaderboard__row__name {
      flex-grow: 1;
      color: #fc5f71; }
    .leaderboard__row__result {
      flex-shrink: 0;
      font-size: 0.875em;
      vertical-align: text-bottom; }

@media (max-width: 699px) {
  .leaderboard__outer {
    transform: none !important; } }

@media (min-width: 700px) {
  .leaderboard {
    padding: 2.5rem 0 0;
    margin-bottom: -8rem; }
    .leaderboard__header {
      margin: 3.5rem auto 7rem;
      text-align: left; }
    .leaderboard__top-bg {
      top: -130px; }
    .leaderboard__bottom-bg {
      bottom: -160px; }
    .leaderboard__wrap {
      margin-left: 248px; }
    .leaderboard__santa {
      bottom: 0; }
      .leaderboard__santa--left {
        width: auto; }
        .leaderboard__santa--left--hand {
          width: auto;
          bottom: 234px;
          left: 120px;
          padding-bottom: 0; }
    .leaderboard__row__counter {
      width: 3.125rem;
      font-size: 1em; }
    .leaderboard__row__result {
      font-size: 1em; } }

@media (min-width: 960px) {
  .leaderboard__wrap {
    margin-right: 248px;
    padding: 3rem 40px;
    border-radius: 55px; }
  .leaderboard__santa--right {
    display: block; }
    .leaderboard__santa--right--hand {
      display: block;
      bottom: 234px;
      right: 120px; } }

@media (min-width: 1080px) {
  .leaderboard__top-bg {
    top: -220px; }
  .leaderboard__wrap {
    padding: 3rem 60px;
    border-radius: 80px; }
  .leaderboard__list {
    font-size: 1.25rem; } }

@media (min-width: 1440px) {
  .leaderboard__list {
    columns: 2;
    column-gap: 80px; } }

.submission {
  background: #d9d0dd;
  padding: 16rem 0 0;
  position: relative;
  overflow: hidden; }
  .submission h2 {
    text-align: center;
    margin: 4rem 0 2rem; }
  .submission .inner {
    position: relative;
    z-index: 2;
    margin-bottom: 12rem; }
  .submission__form-wrapper {
    max-width: 420px;
    margin: 0 auto 3.5rem; }
  .submission__letters {
    width: 95%;
    max-width: 1365px;
    padding-left: 5%;
    display: none; }
    .submission__letters--wrap {
      position: absolute;
      top: 4rem;
      right: 0;
      left: 0;
      text-align: center; }
    .submission__letters-mobile-top {
      position: absolute;
      top: 9rem;
      right: 5%;
      left: 5%;
      width: 90%; }
    .submission__letters-mobile-bottom {
      position: absolute;
      bottom: 4rem;
      right: 5%;
      left: 5%;
      width: 90%; }
  .submission__bottom-bg {
    width: 100%;
    max-height: 300px;
    margin-top: -2.625rem; }
  .submission label {
    display: block;
    margin-bottom: 0.25em;
    position: relative; }
  .submission .required {
    color: #fc5f71; }
  .submission input {
    display: block;
    width: 100%;
    padding: 1.2em;
    color: #89538a;
    border: 0; }
    .submission input:focus {
      outline: none; }
    .submission input[type=radio] {
      margin-right: 1em;
      flex-basis: 1rem;
      flex-shrink: 0;
      visibility: hidden; }
      .submission input[type=radio] + span::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 1px;
        width: 16px;
        height: 16px;
        border: 3px solid #fff;
        border-radius: 8px;
        background: #fff; }
      .submission input[type=radio]:checked + span::before {
        background: #89538a; }
  .submission .radio-label {
    display: flex;
    margin: 1em 0;
    overflow: hidden;
    position: relative; }
  .submission button {
    display: block;
    width: 100%;
    padding: 1.2em;
    background: #fc5f71;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1; }
    .submission button:disabled {
      background: #feabaf; }
  .submission .form-item-group {
    margin-bottom: 2rem; }
  .submission .form-item-description {
    font-size: 0.875rem;
    margin-top: 0.5em; }
  .submission__ended {
    text-align: center;
    font-size: 1.5em; }

.dropzone {
  position: relative; }
  .dropzone__status, .dropzone__file {
    display: block;
    position: absolute;
    left: 0;
    top: 22%;
    right: 0;
    text-align: center;
    color: #fc5f71; }
  .dropzone__file {
    top: 60%; }
  .dropzone__arrow {
    position: absolute;
    display: block;
    width: 72px;
    height: 78px;
    left: 50%;
    margin-left: -36px;
    top: 32%;
    background: #fc5f71; }
    .dropzone__arrow.isOver {
      animation: bounce 800ms infinite alternate;
      animation-timing-function: ease-in-out; }
    .dropzone__arrow:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      margin-left: -67px;
      bottom: -67px;
      border-width: 67px;
      border-bottom-width: 0;
      border-style: solid;
      border-color: transparent;
      border-top-color: #fc5f71; }

.letter {
  transform-origin: center 209px;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out, fill 1ms linear;
  transition-delay: 0s, 300ms; }
  .letter__open {
    transform: rotateX(0deg); }
  .letter__closed {
    transform: rotateX(180deg);
    fill: #ffdfe1; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }

@media (min-width: 700px) {
  .submission h2 {
    max-width: 300px;
    text-align: left;
    margin: 0; }
  .submission .inner {
    margin-bottom: 0; }
  .submission__letters {
    display: inline-block; }
  .submission__letters-mobile-top,
  .submission__letters-mobile-bottom {
    display: none; } }

@media (min-width: 960px) {
  .submission h2 {
    transform: translateY(100%); } }

.careers {
  padding: 7rem 0 10rem;
  z-index: 5;
  position: relative; }
  .careers h2 {
    text-align: center; }
  .careers__mail-link {
    text-align: center;
    font-size: 1.125rem; }
    .careers__mail-link a {
      text-decoration: none; }
  .careers__page-link {
    text-align: center;
    font-size: 1.125rem; }

.careerslist__list {
  list-style-type: none;
  margin: 4rem 0;
  padding: 0; }

.careerslist__row {
  border-top: 1px solid rgba(36, 39, 49, 0.12);
  padding: 2rem 0; }

.careerslist h4 {
  margin: 0;
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.75rem;
  color: #242731; }

.careerslist a {
  text-decoration: none; }

.careerslist__taxonomy {
  color: rgba(36, 39, 49, 0.4);
  line-height: 1.75rem;
  margin: 0; }

.careerslist__dot {
  display: inline-block;
  padding: 0 0.5em;
  color: #fc5f71; }

@media (min-width: 960px) {
  .careerslist__row {
    display: flex;
    justify-content: space-between; } }

.bottom-sky {
  position: relative;
  padding-bottom: 27.7%;
  margin-top: 100px;
  z-index: 4; }
  .bottom-sky .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .bottom-sky__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 946px;
    width: 100%; }
  .bottom-sky__stars {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; }
    .bottom-sky__stars-wrapper, .bottom-sky__stars-wrapper--transform {
      padding-bottom: 65.7%;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 946px;
      width: 100%; }
    .bottom-sky__stars-wrapper--transform {
      transform: rotateY(180deg) rotate(14deg) translate(110px, 177px); }
  .bottom-sky p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem; }
  .bottom-sky a {
    text-decoration: none; }

@media (max-width: 700px) {
  .bottom-sky__stars {
    transform: none !important; }
    .bottom-sky__stars-wrapper--transform {
      transform: rotateY(180deg) rotate(14deg) translate(50px, 97px); } }

@media (min-width: 1440px) {
  .bottom-sky {
    height: 400px;
    padding-bottom: 0; }
    .bottom-sky .inner {
      position: relative; } }

